* {
  margin: ;
  padding: ;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  background-color: #ADB5BD ;
  font-family:  Arial, Times New Roman;
  font-size: 1.6rem;
  color: #fff;
  /*max-width: 960px;*/
  margin: 0 auto;
  text-align: center; 
  }

#header {
  position: fixed;
  width: 100%;
  background-color: #212529;
  height: 75px;
  top: 0px;
  z-index: 10;
}

#header > img {
  float: left;
  margin: 18px;
  max-width: 100%;
  height: auto;
  overflow: auto;
}

nav {
  text-decoration: none;
  float: right;
  color: #fff;
}

ul li{
  display: inline-block;
}

#form {
  margin-top: 90px;
  position: relative;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin: 20px auto;
}

#products {
  display: flex;
  justify-content: center;
  margin: 0 15%;
  font-size: 16px;
}

#product-list {
  margin: 10px;
  width: calc(100% / 3);
}

#product-list > img {
  width: 100%;
}