* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  background-color: #fff ;
  font-family:  Arial, Times New Roman;
  font-size: 1.6rem;
  color: #000;
  margin: 0 auto;
  text-align: center;
  }

#header {
  position: fixed;
  width: 100%;
  background-color: #212529;  
  /*height: 63px;*/
  top: 0px;
  z-index: 10;
  font-size: 20px;
}

#header > img {
  float: left;
  padding: 1%;
  max-width: 100%;
}

#nav-bar > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

#nav-bar > ul > li > a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #fff;
}

#nav-bar > ul > li > a:hover {
  background: #fffa;
}

@media all and (max-width: 800px) {
  #nav-bar > ul {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  #nav-bar > ul {
    flex-flow: column wrap;
    padding: 0;
  }
  #nav-bar > ul > li > a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  #nav-bar > ul > li:last-of-type a {
    border-bottom: none;
  }
}

#form {
  margin-top: 90px;
  position: relative;
  font-size: 20px;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin: 20px auto;
}

#form > input {
  font-size: 16px;
  text-align: center;
}

#showcase {
  margin-bottom: 25px;
}

#products {
  display: flex;
  justify-content: center;
  margin: 0 28%;
  font-size: 16px;
  text-align: left;
}

#product-list {
  margin: 20px;
  width: calc(100% / 3);
/*   padding: 1.5em; */
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  flex-basis: auto;
/*   margin-left: 15px;
  padding-left: 2em; */
}

#product-list > img {
  width: 100%;
/*   margin-left: -30px; */
}

#product-list > ul li {
  align-content: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-basis: auto;
}

#product-title {
/*   margin-top: -20px; */
  font-size: 22px;
}